---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';

import Nodos from '../components/nodos.astro';
---

<Layout title="Welcome to Astrolus.">
	<Container >
	<main class="space-y-40 mb-40">
		
	

            <Nodos />
       
  
	
	</main>

	</Container>
</Layout>