---
import LitlePapper from "../components/LitlePapper.astro";
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
---

<Layout title="Nym vpn.">
	<Container >
    <main class="">  
 
	
<div class="pt-40">
		<LitlePapper />
	</div>

	
	</main>
</Container>
</Layout>