---
import LitlePapper from "../components/LitlePapper.astro";
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
---

<Layout title="Welcome to Astrolus.">
	<Container >

        <main class="space-y-40 mb-40">  
 
	

<LitlePapper />

	
	</main>
</Container>
</Layout>