
<h1 class="text-withe text-xl"> Perro</h1>

    <div class="pdf-viewer text-center flex justify-center">
      <iframe src="/images/NymVPN_Litepaper_Version_en_Espanol.pdf" width="800px" height="800" ></iframe>
    </div>
 
  
  <script>
  export default {
    name: "PdfViewer",
    data() {
      return {
        pdfUrl: "/images/NymVPN_Litepaper_Version_en_Espanol.pdf",
      };
    },
  };
  </script>