---
import Container from "./Container.astro"

---

<div id="rules">
  <Container>
    <div class="max-w-3xl mx-auto p-6 bg-gray-900 rounded-lg shadow-lg text-white">
      <h1 class="text-2xl font-semibold mb-4">DAOariwas Operadores de Nodos de Nym en Latinoamérica</h1>
      <p class="mb-4">Este grupo está compuesto principalmente por operadores de nodos de Nym en la región de
          Latinoamérica. Su objetivo principal es destinar un porcentaje recaudado del costo de operación de los nodos
          para causas comunitarias.</p>
      <ul class="list-disc pl-6 mb-4">
          <li>Alineación con los Objetivos del Proyecto:
              <ul class="list-disc pl-6">
                  <li>Los miembros del grupo deben estar en sintonía con los objetivos generales del proyecto, que
                      incluyen la privacidad y la defensa de los derechos humanos.</li>
              </ul>
          </li>
          <li>Ubicación Física de los Nodos:
              <ul class="list-disc pl-6">
                  <li>Es requisito que los nodos estén físicamente ubicados en Latinoamérica.</li>
              </ul>
          </li>
          <li>Donaciones para Acciones Sociales o Comunitarias:
              <ul class="list-disc pl-6">
                  <li>El grupo se compromete a donar el 10% de los ingresos generados por los nodos cada 3 meses para
                      apoyar acciones sociales o comunitarias en la región latinoamericana.</li>
              </ul>
          </li>
          <li>Proceso de Gestación:
              <ul class="list-disc pl-6">
                  <li>La incorporación de nuevos miembros sigue un proceso de evaluación de 3 semanas.</li>
                  <li>Los criterios evaluados incluyen:
                      <ul class="list-disc pl-6">
                          <li>Respeto en la comunicación (chats, reuniones, etc.).</li>
                          <li>Participación activa en conversaciones, reuniones y toma de decisiones.</li>
                          <li>Capacidad para asumir tareas dentro de sus habilidades.</li>
                          <li>Integridad y respeto hacia los demás miembros del grupo.</li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li>Actitud Proactiva y Colaborativa:
              <ul class="list-disc pl-6">
                  <li>Se espera que los miembros propongan actividades en sus comunidades locales, ya sean presenciales
                      o virtuales.</li>
                  <li>Pueden ofrecer traducciones, talleres, tutoriales u otras iniciativas que beneficien a la
                      comunidad de habla hispana.</li>
              </ul>
          </li>
          <li>Comunicación Efectiva:
              <ul class="list-disc pl-6">
                  <li>La comunicación entre los integrantes del grupo debe ser asertiva y constructiva.</li>
              </ul>
          </li>
      </ul>
  </div>
    <div class="pt-10">
     
      <h2 class="my-8 text-2xl font-bold text-gray-700 dark:text-white md:text-4xl">
       Normas de convivencia
      </h2>
      <p class="text-gray-600 dark:text-gray-300 text-1xl  rounded-lg shadow-lg bg-gray-900 p-4 hover:text-orange-400"> 
        
        <code> Libertad de expresión
          </code>
</p>
<br>
<p class="text-gray-600 dark:text-gray-300 text-1xl  rounded-lg shadow-lg bg-gray-900 p-4 hover:text-orange-400"> 
        
  <code> Autocuidado
    </code>
</p>
<br>
<p class="text-gray-600 dark:text-gray-300 text-1xl  rounded-lg shadow-lg bg-gray-900 p-4 hover:text-orange-400"> 
        
  <code> Aprender a desaprender
    </code>
</p>
<br>
<p class="text-gray-600 dark:text-gray-300 text-1xl  rounded-lg shadow-lg bg-gray-900 p-4 hover:text-orange-400"> 
        
  <code> Hablar con intención 
    </code>
</p>
<br>
<p class="text-gray-600 dark:text-gray-300 text-1xl  rounded-lg shadow-lg bg-gray-900 p-4 hover:text-orange-400"> 
        
  <code> Respetar otros puntos de vista
    </code>
</p>
<br>
<p class="text-gray-600 dark:text-gray-300 text-1xl  rounded-lg shadow-lg bg-gray-900 p-4 hover:text-orange-400"> 
        
  <code> Permitir que aflore la diferencia
    </code>
</p>
<br>
<p class="text-gray-600 dark:text-gray-300 text-1xl  rounded-lg shadow-lg bg-gray-900 p-4 hover:text-orange-400"> 
        
  <code> Pedir consentimiento
    </code>
</p>
<br>
<p class="text-gray-600 dark:text-gray-300 text-1xl  rounded-lg shadow-lg bg-gray-900 p-4 hover:text-orange-400"> 
        
    <code> 
        Respetar la respuesta
      
      </code>
</p>
<br>
<p class="text-gray-600 dark:text-gray-300 text-1xl  rounded-lg shadow-lg bg-gray-900 p-4 hover:text-orange-400"> 
        
  <code> Escuchar con atención
    </code>
</p>
<br>
<p class="text-gray-600 dark:text-gray-300 text-1xl  rounded-lg shadow-lg bg-gray-900 p-4 hover:text-orange-400"> 
        
  <code> Inclusivo / Interseccional
    </code>
</p>
<br>
<p class="text-gray-600 dark:text-gray-300 text-1xl  rounded-lg shadow-lg bg-gray-900 p-4 hover:text-orange-400"> 
        
  <code> Hazlo con otros
    </code>
</p>
<br>
<p class="text-gray-600 dark:text-gray-300 text-1xl  rounded-lg shadow-lg bg-gray-900 p-4 hover:text-orange-400"> 
        
  <code> Pensar con los demás
    </code>
</p>
<br>
<p class="text-gray-600 dark:text-gray-300 text-1xl  rounded-lg shadow-lg bg-gray-900 p-4 hover:text-orange-400"> 
        
  <code> Colaboración
    </code>
</p>
<br>
<p class="text-gray-600 dark:text-gray-300 text-1xl  rounded-lg shadow-lg bg-gray-900 p-4 hover:text-orange-400"> 
        
  <code> No perjudcar a los demás
    </code>
</p>
<br>


        
        
        
        <br>
        
       
 
    </div>
  
  </Container>
</div>